# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
ENV/

# Selenium / WebDriver
chromedriver
geckodriver
ghostdriver.log
*.log

# Project Specific - Data and Docs
# Ignorando pastas de dados, documentos pesados e materiais de estudo
data/
docs/
arq/

# Ignorar extensões de arquivos pesados ou gerados
*.pdf
*.zip
*.parquet
*.pptx
*.csv
*.txt
*.xlsx

# Manter a estrutura das pastas de dados se necessário (opcional)
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
